# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    ".html",
    ".md",
    ".yaml",
    ".svg",
    "test_*",
]

# Same as Black.
line-length = 96
indent-width = 4

# Assume Python 3.12
target-version = "py312"

[lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = ["ALL"]
ignore = [
    "S113", "S501", # requests without timeout and cert check
    "D211", "D212", "D205",
    "COM812", "D203", "ISC001",
    "RUF001", "RUF003", "RUF002", #Cyrillic chars
    "DTZ005",
    "PTH113", "PTH118", "PTH123", "PTH122", "PTH102", "PTH112", "PTH109", #pathlib Path instead of os.path
    "S311", # random not for crypto purposes
    "D103", "D100","D104", "D101", "D102", "D107",
    "ANN201",
    "PTH119",
    "E501",
    "PERF401",
    "B019", "UP033", # lru cahce
    "TD003", "TD002", # link to issue and author
    "ANN202", "ANN001", "ANN204", "ANN002", "ANN003",
    "ERA001",
    "TRY002", "TRY003",
    "EM101"
] #  --ignore T201 --ignore TD002 --ignore FIX002 --ignore TD003

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["I001", "UP015", "D", "SIM118", "E501", "Q000", "W293", "B007", "RUF100", "T201", "TD004", "W292"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings. Markdown,
# reStructuredText code/literal blocks and doctests are all supported.
#
# This is currently disabled by default, but it is planned for this
# to be opt-out in the future.
docstring-code-format = false

# Set the line length limit used when formatting code snippets in
# docstrings.
#
# This only has an effect when the `docstring-code-format` setting is
# enabled.
docstring-code-line-length = "dynamic"
