name: PR Check - Tests and Ruff
on:
  pull_request:
    branches:
      - main
      - master
jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up dePython 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run pytest
        run: |
          cd src
          python -m pytest test_class_car.py -v
      - name: Run Ruff linter
        run: ruff check --config=ruff.toml ./src/
